*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    box-sizing: border-box;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
    align-items: center;
}

.d-inline-block {
    display: inline-block;
}

.d-grid {
    display: grid;
}

.col-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.col-4 {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.col {
    display: flex;
    flex-wrap: wrap;
    padding: 0 .75rem /* calc(var(1rem) * .5) */;
    max-width: 100%;
    border: 1px solid transparent;
    word-wrap: break-word;
}

.rect {
    display: flex;
    width: 100%;
    height: 225px;
    background-color: #55595c;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.navbar {
    padding: .5rem 0;
    background: #ffffff;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    max-height: 56px;
}

.container {
    margin: 0 auto;
    justify-content: space-between;
    width: 80%;
    /* padding:0 .25rem; */
    }

.container-1 {
    max-width: 960px;
}

.toggler {
    background: none;
    border: 1px solid #55595c;
    color: #9b9d9e;
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem;
    box-sizing: border-box;
    height: 40px
}

.link {
    text-decoration: none;
    color: rgba(0,0,0, 1);
    align-items: center;
    font-weight: 400;
    font-size: 1rem;
    margin: 0 0 0 1rem;
    padding: .5rem 0;
}

.link-2 {
    text-decoration: none;
    color: rgba(0,0,0, 1);
    align-items: center;
    font-weight: 400;
    font-size: 1rem;
    margin: 0 0 0 1rem;
    padding: .5rem 0;
}

.logo {
    text-decoration: none;
    display: flex;
    color: rgba(0, 0, 0, 1);
    align-items: center;
    font-weight: 400;
    font-size: 1.5rem;
}

.card {
    display: flex;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.card-header {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    background: rgba(0,0,0,.03);
}

.card-body {
    padding: 1rem ;
}

.pricing-card {
    font-size: 2.5rem;
}

.text-body {
    font-size: 1rem ;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 1rem ;
}

.p-3 {
    padding: 1rem;
}

.p-1 {
    padding: .5rem;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.py-3 {
    padding: 1rem 0;
}

.py-1 {
    padding: .5rem 0;
}

.py-2 {
    padding: .75rem 0;
}

.px-2 {
    padding-left: .75rem;
    padding-right: .75rem;
}

.pb-2 {
    padding-bottom: .75rem;
}

.pt-5 {
    padding-top: 3rem;
}

.mx-auto {
    margin: 0 auto;
}

.section {
    max-width: 660px;
    padding: 0 .75rem;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.generic-text {
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: #6c757d;
}

.mb-05 {
    margin-bottom: .25rem;
}

.mb-1 {
    margin-bottom: .5rem;
}

.mb-2 {
    margin-bottom: .75rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.me-1 {
    margin: 0 0.5rem 0 0;
}

.ms-1 {
    margin-left: .5rem;
}

.ms-0 {
    margin-left: 0;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my-2 {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mt-1 {
    margin-top: .5rem;
}

.mt-2 {
    margin-top: .75rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.border-b {
    border-bottom: 1px solid #dee2e6;
}

.border-t {
    border-top: 1px solid #dee2e6;
}

.border-b-black {
    border-bottom: 2px solid #000;
}

.list-unstyled {
    list-style: none;
    padding-left: 0;
}

.header-text {
    max-width: 700px;
    padding: 1rem 1rem 1.5rem;
}

.line-height-1 {
    line-height: 1.5rem;
}

.text-muted {
    color: #6c7592;
}

.text-bt {
    color: #7e12f9;
}

.paragraph-main {
    line-height: 2rem;
    border-bottom: 1px solid transparent;
}

.btn {
    line-height: 1.5;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.btn-outline-secondary {
    background: #ffffff;
    border: 1px solid #6c757d;
    border-radius: 0.25rem;
    text-decoration: none;
    color:#6c757d;
    font-size: .875rem;
    line-height: 1.5rem;
}


.btn-outline-secondary:hover {
    background: #6c757d;
    border: 1px solid #6c757d;
    text-decoration: none;
    color:#ffffff;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: .5s;
}

.btn-outline-primary {
    background: #ffffff;
    border: 1px solid #0d6efd;
    border-radius: 0.25rem;
    text-decoration: none;
    color:#0d6efd;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.btn-outline-primary:hover {
    background: #0d6efd;
    border: 1px solid #0d6efd;
    text-decoration: none;
    color:#ffffff;
    font-size: 1.25rem;
    line-height: 1.5rem;
    transition: .5s;
}

.border {
    border: 1px solid transparent;
}

.btn-primary {
    background: #0d6efd;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 400;
    vertical-align: middle;
}

.btn-primary:hover {
    background: #0b5ed7;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 400;
    vertical-align: middle;
    transition: .5s;
}

.btn-secondary {
    background: #6c757d;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-decoration: none;
    color: white;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    vertical-align: middle;
}

.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

.fw-normal {
    font-weight: 400;
}

.fw-light {
    font-weight: 300;
}

.fw-500 {
    font-weight: 500;
}

.display-4 {
    font-size: 3.5rem;
}

.display-6 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height:1.2;
}

.fz-title {
    font-size: 2.5rem;
    margin: 0 0 0.5rem 0;
}

p {
    font-size: 1.25rem;
    font-weight: 1;
    line-height: 2rem;
}

.section-cards {
    background: #f8f9fa;
    border: 1px solid transparent;
}

.bg-primary {
    background: #0d6efd;
    color: #fff;
}

.border-primary {
    border-color: #0d6efd;
}

.w-100 {
    width: 100%;
}

.w-34 {
    width: 34%;
}

.w-22 {
    width: 22%;
}

.body-gradient {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px){
    .container {
        max-width: 1320px;
    }
}
